{%extends 'base.html'%}
{%load bootstrap3%}
{%load static%}
{%block content%}
{{block.super}}

<div class="container">
    <div class="card" style="width: 18rem;">
        <div class="row">
            <div class="post">
                {%for post in post%}
                <h1>{{post.editor.first_name}}</h1>
                <h3 class="card-title">{{post.title}}</h3>
                <img class="card-img-top" src="{{post.image.url}}" alt="Card image cap" class="img-responsive image">
                <div class="card-body">
                    <div class="card-text">Some quick example text to build on the card title and make up the
                        bulk of the card's content.</div>
                    <i>Posted {{post.pub_date}}</i>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div><br>
                {%endfor%}
            </div>
        </div>
    </div>
</div>

{%endblock%}