<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <nav class="navbar navbar-light bg-white">

        <div class="container-fluid">
            <div class="row navbar-header">
                <div class="col-md-3"></div>
                <a class="navbar-brand" href="/">Instagram</a>
            </div>

            <div class="col-sm-6 col-md-6">
                {% if user.is_authenticated %}
                <ul style="float: right; clear:both; margin-top:1%; margin-right:15%; ">
                    <li class="" style="display:flex;">
                        <ul style="list-style:none;display:flex;">
                            <button type="button" class="btn btn-sm">
                                <a href="{%url 'home'%}">Home</a>
                            </button type="button" class="btn btn-sm">
                            <button type="button" class="btn btn-sm">
                                <a href="{%url 'home'%}">Create Article</a>
                            </button type="button" class="btn btn-sm">
                            <button type="button" class="btn btn-sm">
                                <a href="/accounts/password_change">Change password</a>
                            </button type="button" class="btn btn-sm">
                            <button type="button" class="btn btn-sm">
                                <a href="accounts/login">Logout</a>
                            </button type="button" class="btn btn-sm">
                        </ul>
                    </li>
                </ul>
                
                <a href="{%url 'new_post'%}">New Post
                    <i class="fas fa-user text-white h3 ">
                    </i>
                <a href="{%url 'profile'%}">Profile
                    <i class="fas fa-user text-white h3 ">
                    </i>
                </a>
                {% else %}
                <li>
                    <a class='btn btn-default' href="/accounts/login">Login</a>
                </li>

                {% endif %}
            </div>
        </div>
        <div class="col-md-3"></div>

        <div class=" navbar-right">
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>

        </div>

    </nav>
</body>

</html>